.container{
    width: 80%;
    margin: 0 auto !important;
}


@media only screen and (max-width : 1092px) {
    .queContainer{
        border: 1px solid #ccc !important;
        text-align: center !important;
    }
    }
    